body {
    font-family: Georgia, "Trebuchet MS", Bodini, Verdana, Arial, "Times New Roman",  -apple-system, Ubuntu, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.wrapper{
    padding:  80px;
    background-image: url("../../img/epic-background.jpg");
    background-size: cover;
    max-width: 900px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin-top: 200px;
    color: darkslategray;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 6px;
}

.button-box {
    max-width: 220px;
    margin-right: auto;
    margin-left: auto;
}

#increment-btn {
    background: forestgreen;
}

#decrement-btn {
    background: darkred;
}

#reset-btn {
    background: black;
    margin-left: 30px;
    margin-right: 30px;
}

#save-btn {
    background: dodgerblue;
}

